<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>This is Menu</h1>
    <!--        login.html-->
    {% if request.user.is_authenticated %}
        <h4>Hello, {{request.user.username}}</h4>
        <a href="{% url 'logout' %}">
            <button>
                Exit
            </button>
        </a>
    {% else %}
        <a href="{% url 'sign_in' %}">
            <button class="btn btn-primary">
                Sign in
            </button>
        </a>
    {% endif %}

    {% block content %}
#index.html
    {% endblock  %}
    <h2>Footer</h2>
    {% block text %}
#index.html
    {% endblock %}
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores at, culpa dignissimos earum eius esse illo, nesciunt non quae sint ut? Alias amet dignissimos earum incidunt magnam, maxime vitae.
    </p>
</body>
</html>